$colors: (
  grey: (
    100: #fff,
    200: #f2f2f2,
    300: #b3b3b3,
    400: #696868,
    500: #201f24,
  ),
  beige: (
    100: #f8f4f0,
    200: #98908b,
  ),
  green: (
    100: #277c78,
    200: #597c7c,
    300: #7f9161,
  ),
  yellow: (
    100: #f2cdac,
    200: #cab361,
  ),
  blue: (
    100: #3f82b2,
    200: #82c9d7,
    300: #97a0ac,
    400: #626070,
  ),
  red: (
    100: #c94736,
    200: #be6c49,
  ),
  purple: (
    100: #826cb0,
    200: #af81ba,
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
  --font: "Public Sans", sans-serif;
}
