@import "./assets/vars.css";
@import "tailwindcss";

@theme inline {
  --color-grey-100: var(--grey-100);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);
  --color-grey-500: var(--grey-500);
  --color-beige-100: var(--beige-100);
  --color-beige-200: var(--beige-200);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --font-sans: var(--font);
}

html,
body {
  font-family: var(--font);
  background-color: var(--beige-100);
}


@media (prefers-reduced-motion = reduced) {
  :root {
    --duration: 0;
  }
}
/* ###################################################Typography Start*/
.heading_xl {
  @apply text-[2rem] leading-[120%] font-bold;
}
.heading_lg {
  @apply text-[1.25rem] leading-[120%] font-bold;
}
.heading_md {
  @apply text-[1rem] leading-[150%] font-bold;
}
.text_sm {
  @apply text-[0.875rem] leading-[150%] font-normal;
}

.text_sm--bold {
  @apply text-[0.875rem] leading-[150%] font-bold;
}

.text_xs {
  @apply text-[0.75rem] leading-[150%] font-normal;
}
.text_xs--bold {
  @apply text-[0.75rem] leading-[150%] font-bold;
}

/* ###################################################Typography End*/

/* #################################################### Spacing Start */
.gap_40 {
  @apply gap-10;
}
.gap_32 {
  @apply gap-8;
}
.gap_24 {
  @apply gap-6;
}
.gap_20 {
  @apply gap-5;
}
.gap_16 {
  @apply gap-4;
}
.gap_12 {
  @apply gap-3;
}
.gap_8 {
  @apply gap-2;
}
.gap_4 {
  @apply gap-1;
}
/* #################################################### Spacing End */
/* #################################################### Components Container Start */
/*#########Container ### */
.container_32 {
  @apply p-6 md:p-8
}
/*#########Button ### */
button {
  cursor: pointer;
}
.btn{
  @apply p-4 transition-all duration-300 ease-in-out;
}
.btn--icon{
  @apply flex gap-2 items-center;
}
.btn_primary {
  @apply rounded-lg;
}
.btn_primary--dark{
  @apply bg-grey-500 text-grey-100; 
}
.btn_primary--dark:hover{
  @apply bg-grey-400; 
}
.btn_primary--call{
  @apply bg-red-100 text-grey-100; 
}
.btn_primary--call:hover{
  @apply bg-red-200; 
}
.btn_primary--light{
  @apply bg-beige-100 text-grey-500 border-2 border-transparent; 
}
.btn_primary--light:hover{
  @apply bg-transparent border-2 border-grey-400; 
}

/* #################################################### Components Container End */

/* #################################################### Components Formelements Start */
.input {
  @apply py-3 px-5 border border-grey-300 rounded-lg block;
}
/* #################################################### Components Formelements end */
/* #################################################### Utilities Start */
.box{
  @apply rounded-xl px-5 py-6 w-[calc(100%-1rem)];
}
/* #################################################### Utilities End */
